.navbar-custom{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	top: 100px;
	float: none;
	vertical-align: top;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #848484;
  background-color: #FFFFFF;
}

@media (min-width: 768px){
	.navbar-custom{
    	margin: 0 auto;
    	display: table;
    	table-layout: fixed;
    	float:none;
	}
}

.titleimage{
	margin-top: 20px;
	margin-bottom: 90px;
} 

#intro{
	background-color: #3A3A3A;
	padding-top: 30px;
  	padding-bottom: 30px;
  	padding-left: 300px;
  	margin-top: 50px;
}

#face{
	position: absolute;
	left: 150px;
}

#introtext{
	color: white;
	font-size: 25px;
	font-family: "Trebuchet MS";
}

#resume{
	position: relative;
	margin-right: 30px;
}

#github{
	position: relative;
	margin-right: 30px;
}

#linkedin{
	position: relative;
	margin-right: 30px;
}

#contactmsg{
	position:relative;
	top: 210px;
	font-family: "Trebuchet MS";
}

#contact{
	position: relative;
	margin-top: -100px;
}

.icon{
	display: inline-block;
	position: relative;
	top: 200px;
}

#wclocktitle{
	font: bold 40px "Century Schoolbook", Georgia, Times, serif;
	color: #333;
	margin: .2em 0 .4em 0;
	letter-spacing: -2px;
}

.wclock{
	position: relative;
	top: 40px;
}

#instr{
	font: 16px "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#selectmenu{
  	position: relative;
  	min-height: 1px;
  	padding-right: 500px;
  	padding-left: 500px;
}

#timeis{
	font: bold 18px "Trebuchet MS";
}

#worldclock{
	font: bold 18px "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#selectfont{
	font: "Trebuchet MS";
}

hr{
	height: 10px;
	background: black;
	width: 20%;
}

#horizline{
	width: 25%; 
	height: 2px; 
	background-color: white; 
	text-align: center;
}

#name{
	padding-left: 10px;
	padding-right: 10px; 
	font: 16px "Trebuchet MS", Helvetica, sans-serif;
	font-style: italic;
	color: white; 
	background-color: black; 
	position: relative; 
	top: -0.5em;
}

#projectintro{
	position: relative;
	margin-top: 50px;
	background-color: #195DD1;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

#myproject{
	text-align: center;
	position: relative;
	margin-top: 40px;
	font: 60px "Trebuchet MS", Helvetica, sans-serif;
}

.projects{
	margin-top: 70px;
	margin-left: 250px;
	margin-right: 250px;
}

.oneproj{
	margin-bottom: 100px;
}

.projtitle{
	font: 40px "Trebuchet MS", Helvetica, sans-serif;
}

.projinfo{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
}

.projdesc{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   border: 5px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 0px 0px 5px #aaa;
   cursor: default;
   margin-top: 20px;
   margin-right: 50px;
   float:left;
}

.view .mask, .view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view img {
   display: block;
   position: relative;
}

.view a.info {
   background:url(../img/link.png) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:20px;
   height:20px;
}

.fifth-effect img {
   opacity:0.2;
   transition: all 0.3s ease-in;
}

.fifth-effect .mask {
   cursor:pointer;
   opacity:1;
   visibility:visible;
   border:100px solid rgba(0,0,0,0.7);
   box-sizing:border-box;
   transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
}

.fifth-effect:hover .mask {
   border:0px double rgba(0,0,0,0.7);
   opacity:0;
   visibility:hidden;
}

.fifth-effect:hover img {
   opacity:1;
}

#getintouch{
	margin-top: 40px;
	margin-bottom: -100px;
}

#langtitle{
	margin-top: 70px;
	margin-bottom: 40px;
	font: 50px "Trebuchet MS", Helvetica, sans-serif;
}

#skills{
	padding-bottom: 680px;
}

#skillsleft{
	float:left; 
	width: 50%;
}

#skillsright{
	float:right; 
	width: 50%;
}

.skilltitle{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}

.skillsep{
	margin-bottom: 30px;
}

.ctitle{
	font: 20px bold;
	margin-left: 150px;
}

.tooltitle{
	font: 20px bold;
	margin-left: 100px;
}

.language{
	margin-right: 150px;
	width: 40%;
	float:right;
}

.tool{
	margin-right: 130px;
	width: 40%;
	float:right;
}

#interestsect{
	background-color: #004B4B;
	margin-top: 60px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#intereststitle{
	font: 50px "Trebuchet MS", Helvetica, sans-serif;
	color: white;
}

#freetime{
	padding-top: 40px;
	color: white;
	margin-left: 100px;
	font: 30px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.interests{
	margin-left: 125px;
	color: white;
	font: 15px "Trebuchet MS", Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
}

#stopwatch{
	margin-top: 40px;
	text-align: center;
}

#time{
	font: bold 100px "Trebuchet MS", Helvetica, sans-serif;
}

#timeDiv{
	margin-bottom: 30px; 
}

#startBtn{
    font-size: 24px;
    margin-right: 20px;
}

#resetBtn{
	font-size: 24px;
	margin-left: 20px;
}

#watchTitle{
	font: bold 50px "Trebuchet MS", Helvetica, sans-serif;
	color: #333;
	margin: .2em 0 .4em 0;
	letter-spacing: -2px;
	text-align: center;
	margin-bottom: 30px;
}